.botao {
  padding: 1rem 2rem;
  display: inline-block;
  background-image: linear-gradient(#ffbb00, #f2a506);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-p5);
  text-transform: uppercase;
  border-radius: 0.25rem;
  transition: all 250ms ease;
  font: 600 1.125rem/1.35 'Poppins', sans-serif;
}

.botao:hover {
  background-image: linear-gradient(#ffb60d, #e59317);
}

@media screen and (max-width: 600px) {
  .botao {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
