.bicicletas-lista {
    padding: 3.75rem 0 6.25rem;
}

.bicicletas-lista h2 {
    margin-bottom: 2.5rem;
}

.bicicletas-lista ul {
    margin: 0 auto;
    padding: 0 1.25rem 1.25rem;
    display: flex;
    gap: 2.5rem;
    max-width: 1400px;
    box-sizing: border-box;
    overflow-x: auto;
}

#bicicleta .bicicletas-lista ul {
    padding: 0 0 1.25rem 0;
}

.bicicletas-lista li {
    min-width: 280px;
}

.bicicletas-lista a {
    display: block;
}

.bicicletas-lista img {
    margin-bottom: 1rem;
}

.bicicletas-lista h3 {
    margin-bottom: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
}

.bicicletas-lista h3::before {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 0.5rem;
    background-color: var(--cor-p1);
    margin-right: 8px;
    transition: width 200ms;
}

.bicicletas-lista a:hover h3::before {
    width: 1.5rem;
}

.bicicletas-lista li span {
    padding-left: 1.25rem;
}

@media screen and (max-width: 800px) {
    .bicicletas-lista {
        padding-bottom: 2.5rem;
    }

    .bicicletas-lista ul {
        gap: 1.25rem;
    }
}