.header-bg {
  background-color: var(--cor-12);
  padding: 2.5rem 0;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  padding: 1rem 0;
  display: inline-block;
  color: var(--cor-0);
  text-transform: capitalize;
  position: relative;
  transition: all 250ms ease;
}

.header-menu a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--cor-0);
  position: absolute;
  transition: 300ms;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .header-bg {
    padding: 1.25rem 0;
  }

  .header-menu {
    gap: 1.25rem;
  }

  .header-menu a {
    background-color: var(--cor-11);
    padding: 1rem 0.75rem;
    border-radius: 0.25rem;
  }

  .header-menu a:hover {
    background-color: var(--cor-10);;
  }

  .header-menu a::after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    justify-content: center;
    gap: 1.25rem 2.5rem;
  }

  .header-menu {
    gap: 0.75rem;
  }

  .header-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}
