.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px #fff;
}

.introducao-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao-imagem {
  margin-bottom: -7.5rem;
}

.introducao-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.introducao-conteudo h1 {
  margin-bottom: 2rem;
}

.introducao-conteudo p {
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 2.5rem;
    box-shadow: inset 0 -3.75rem var(--cor-10);
  }

  .introducao-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .introducao-conteudo {
    padding-bottom: 0;
  }

  .introducao-conteudo h1 {
    margin-bottom: 1rem;
  }

  .introducao-container img {
    height: 300px;
    width: 100%;
  }
}
