* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f7f7f7;
  --h1-custom-color: #c6c6c6;

  --light-red: #eb4e40;
  --red: #ee2211;
  --dark-red: #cf1c0c;

  --white: #fff;
  --black: #111;

  --p-font-size: 1.25rem;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: var(--bg-color);
}

/* general styles */
img {
  max-width: 100%;
  display: block;
}

p, 
h3 {
  font-size: var(--p-font-size);
  line-height: 1.3;
}

a {
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
}

/* begin */

.grid-container {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
  justify-items: center;
}

.grid-container .logo {
  grid-column: 1 / -1;
}

/* Menu */
.header {
  width: 100%;
  display: grid;
  gap: 70px;
  justify-items: center;
}

.grid-container .menu {
  grid-column: 1 / -1;
  display: flex;
  gap: 20px;

  list-style: none;
}

.grid-container .menu a {
  display: block;
  background-color: var(--white);
}

.grid-container .menu a:hover {
  background-color: var(--light-red);
  color: var(--white);
}

/* Main content */

.grid-container .content {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* See more */

.introduction {
  padding: 40px ;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  justify-items: end;
  gap: 20px;

  text-align: right;
  background-color: var(--white);
}

.introduction::after {
  content: '';
  height: 4px;
  width: 70px;
  background-color: var(--red);

  position: absolute;
  top: 10%;
  right: -7%;
  z-index: 1;
}

.introduction a {
  color: var(--white);
  background-color: var(--red);
}

.introduction a:hover {
  background-color: var(--dark-red);
}

.content-cover {
  height: 100%;
  object-fit: cover;
}

.subtitle {
  padding: 40px;
  place-self: center;
  text-align: right;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--h1-custom-color);
  background-image: url("../img/onda.svg");
}

/* benefits*/

.benefits {
  padding: 40px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr;
}

.benefits-item {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  border-radius: 4px;
  border-left: 5px solid transparent;
  transition: 200ms ease-in-out;
}

.benefits-item:hover {
  border-left-color: var(--red);
}

.benefits-item:nth-child(odd) {
  background-color: var(--bg-color);
}

.benefits-item > p {
  grid-column: 2;
}

/* Footer */
.footer {
  justify-self: stretch;
  padding: 40px 0;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  .grid-container .content {
    grid-template-columns: 1fr;
    padding: 0 1.25rem;
  }

  .introduction::after {
    display: none;
  }

  .subtitle {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    padding-top: 1.875rem;
  }

  .header {
    padding: 0 1.25rem;
  }

  .grid-container,
  .header {
    gap: 1.875rem;
  }

  .header nav {
    width: 100%;
  }

  .menu {
    flex-direction: column;
  }

  .introduction {
    text-align: left;
    justify-items: start;
  }
}

@media screen and (max-width: 400px) {
  .subtitle {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}