body {
  margin: 0;
  padding: 2rem 1.25rem;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

label,
input {
  font-size: 1.125rem;
  display: block;
}