h1 {
  background-color: #ddd;
  width: 300px;
}

span, a, strong {
  border: 2px solid #00000080;
}

a {
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

div, h1, p {
  border: 2px solid #FF000080;
}

/* The properties bellow does not work in display inline */
.margin {
  margin: 0 10px;
  width: 200px;
  height: 40px;
}