.vantagens-bg {
    background-color: var(--cor-12);
}

.vantagens-container {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.vantagens-container h2 {
    margin-bottom: 6rem;
}

.vantagens-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 5rem;
}

.vantagens-item {
    display: grid;
    gap: 0.5rem;
}

@media screen and (max-width: 800px) {
    .vantagens-container {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

    .vantagens-container h2 {
        margin-bottom: 3rem;
    }

    .vantagens-conteudo {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .vantagens-conteudo {
        grid-template-columns: 1fr;
    }
}