.seguros-bg {
    background-color: var(--cor-11);
    padding: 3.75rem 0 7.5rem;
}

.seguros-container h2 {
    margin-bottom: 3.75rem;
}

.seguros-conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.seguros-item {
    padding: 2rem 2rem 2rem 3.75rem;
    background-color: var(--cor-12);
    border-radius: 0.25rem;
}

.seguros-item h3 {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;
}

.seguros-item h3 span::after {
    content: "mensal";
    display: block;
    color: var(--cor-6);
    font: 600 0.875rem/1.5 'Poppins', sans-serif;
    position: absolute;
    bottom: -15px;
    right: 0;
}

.seguros-item li {
    position: relative;
}

.seguros-item li + li {
    margin-top: 1.25rem;
}

.seguros-item li::before {
    content: url("../../img/icones/lista.svg");
    color: var(--cor-p1);
    display: inline-block;
    width: 13px;
    height: 24px;
    position: absolute;
    top: -2px;
    left: -20px;
}

.seguros-item ul {
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
    .seguros-bg {
        padding-bottom: 3.75rem;
    }

    .seguros-container h2 {
        margin-bottom: 2rem;
    }

    .seguros-conteudo {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 600px) {
    .seguros-item {
        padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    }
}